@font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura/static/Jura-Medium.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frau-hex';
    src: url('/fonts/fraulein-hex/frau-hex.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: "frau-hex";
    color: #00ade3;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #444;
}

.wrapper {
    min-height: calc(100vh - 140px - 70px - 60px);
}

a {
    color: #00A0D6;
}
a:hover {
    color: #00A0D6;
}

h1, .h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Jura", Arial, sans-serif;
    xfont-weight: 400;
    font-size: 52px;
    color: #222;
}
h2, .h2 {
    margin-top: -60px;
    padding-top: 100px;
    margin-bottom: 24px;
    font-family: "Jura", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #222;
}
h3, .h3 {
    margin-top: 30px;
    margin-bottom: 18px;
    font-family: "Jura", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #444;
}
h4, .h4 {
    margin-top: 24px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #555;
}
h5, .h5 {
    margin-top: 24px;
    margin-bottom: 10px;
    color: #777;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}



pre {
    position:relative;
    background-color: #f6f6f6;
    border-radius: 4px;
    overflow: auto;
    padding: 13px;
    word-wrap: normal;
    margin-bottom: 15px;
    color: #777;
}
pre.clean {
    background-color: #f9f9f9;
}
code {
    padding: 1px 4px;
    font-size: 14px;
    color: #666;
    background-color: rgba(120, 120, 120, 0.18);
    border-radius: 3px;
    overflow: auto;
    white-space: pre;
    width: auto;
    display: inline;
}
pre code {
    display: inline;
    white-space: pre;
    overflow: auto;
    color: #777;
}


/* Highlighting of code using Hugo's chroma syntax highlighter:
   https://gohugo.io/content-management/syntax-highlighting/
   Running:
   hugo gen chromastyles --style=solarized-light > syntax.css
   and then moving syntax.css to static/css/syntax.css
   Using a customized of this (see difference to syntax_generated.css)
*/
.highlight > .chroma {
    background-color: rgba(255, 206, 150, 0.2);
}
.highlight {
    position: relative;
}

/* Copy button */
.copy-code-button {
    position: absolute;
    right: 0;
    top: 0;
    color: #777;
    cursor: pointer;
    opacity: 0.6;
    border: none;
    background: none;
}
.copy-code-button:hover {
    cursor: pointer;
    background-color: #93e0ff;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #111;
}
.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}



blockquote {
    font-size: 0.9em;
    background-color: rgba(150, 255, 145, 0.24);
    border-left-color: rgba(93, 183, 96, 0.44);
    border-left-width: 9px;
    border-left-style: solid;
    padding: 15px 20px 15px 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 0px;
}



.table {
    margin-top: 20px;
    font-size: 15px;
    width: auto;
}
.table thead {
    background-color: #f4f4f4;
}
.table.table-bordered.headerless > thead {
    display:  none;
}




/* Top hamburger menu */

.navbar {
    margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
    padding: 10px 9px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00ADE3;
}
.navbar-inverse .navbar-nav > li.active > a {
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li.active > a:hover {
    background-color: transparent;
    cursor: default;
}

.navbar-inverse .navbar-nav > li.active > div {
    margin-top:-7px;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #00ADE3;
}

.container-fluid>.navbar-header {
    margin-left: 0;
}

/* Open settings */
@media only screen and (max-width: 767px) {
    .navbar-toggle {
        margin-top: 3px;
    }
    .navbar-header {
        margin-left: 0;
    }
    .navbar-inverse .navbar-nav > li {
        margin-left: 6px;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding: 7px;
    }
    .navbar-inverse .navbar-nav > li.active {
        margin-left: 3px;
        border-left-style: solid;
        border-left-width: 3px;
        border-left-color: #00ADE3;
        background-color: black;
    }
    .navbar-inverse .navbar-nav > li.active > div {
        border-bottom-width: 0px;
    }
    .navbar-inverse .navbar-nav > li > a:hover  {
        background-color: black;
    }
}



/* ---------------------------------------------------
    sidebar collapsing
----------------------------------------------------- */

@media only screen and (max-width: 767px) {
  #sidebar {
    position: fixed;
    top: 35px;
    right: -315px;
    width: 300px;
    background-color: yellow;
  }

  #sidebar.active {
    position: fixed;
    top: 35px;
    right: 0px;
    width: 260px;

    padding: 20px;

    background-color: #f2f2f2;

    border-style: solid;
    border-width: 3px;
    border-color: #888;
    xborder-color: #00ade3;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    border-right-width: 0;
  }

  #sidebar.active  a {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
  }
  #sidebar.active  b {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
  }

  #sidebarCollapse {
    z-index: 2;
    position: fixed;
    top: 65px;
    right: 6px;

    background-color: #c2c2c24f;
    padding: 6px;
  }

  #sidebarCollapse:focus {
      outline: 0;
  }
}


/* Side menu */
.bs-docs-sidenav {
    padding-left: 0px;
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
}
.bs-docs-sidenav #TableOfContents {
    padding-left: 5px;
}
.bs-docs-sidenav #TableOfContents li.active a {
    border-left-color: #00ADE3;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: -7px;
    padding-left: 5px;
}

.bs-docs-sidenav.nav > li > a {
    padding: 0;
    margin: 0;
}
.bs-docs-sidenav.nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}
.bs-docs-sidenav li {
    list-style: none;
}
.bs-docs-sidenav > xul {
    padding-left: 0px;
    text-indent: 0px;
}
.bs-docs-sidenav ul {
    padding-left: 14px;
    text-indent: -8px;
}
.bs-docs-sidenav > li {
    padding-top: 4px;
    font-size: 14px;
}
.bs-docs-sidenav > li.open a {
    color: #555;
    background: none;
}
.bs-docs-sidenav > li.open a:hover {
    color: #00A0D6;
    text-decoration: none;
}

.bs-docs-sidenav > nav >  ul {
    font-size: 13px;
}
.bs-docs-sidenav > nav >  ul a {
    color: #555;
    font-weight:300;
}
.bs-docs-sidenav > nav >  ul a:hover {
    color: #00A0D6;
    text-decoration: none;
}


.bs-docs-sidenav > ul.level2 {
    font-size: 13px;
    list-style: none;
    padding-left: 15px;
    padding-left: 19px;
    text-indent: -8px;
}
.bs-docs-sidenav > ul.level2 a {
    color: #555;
    font-weight:300;
}
.bs-docs-sidenav > ul.level2 a:hover {
    color: #00A0D6;
    text-decoration: none;
}
.bs-docs-sidenav > ul.level2 a.sub {
    color: #00A0D6;
    font-weight:300;
}
.bs-docs-sidenav > ul.level2 a.sub:hover {
    color: #00A0D6;
    text-decoration: none;
}







.navigation-control {
    width: 5%;
    opacity: .7;
    font-size: 22px;
    color: #00ADE3;
}
.navigation-control.left, .navigation-control.right {
    background-image: none;
}
.navigation-control:hover, .navigation-control:focus {
    outline: 0;
    color: #20a1f2;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}



.bs-docs-header {
  padding-top: 6px;
  color: #999;
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 5;

  font-size: 15px;
}
.bs-docs-header a {
  color: #ccc;
}
.bs-docs-header-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.bs-docs-header-links li {
  display: inline-block;
  margin-top: 17px;
  vertical-align: middle;
}
.bs-docs-header-links li + li {
  margin-left: 15px;
}



/*
 * Footer
 *
 * Separated section of content at the bottom of all pages.
 */
.bs-docs-footer {
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 70px;
  /*margin-bottom: 10px;*/
  color: #999;
  /*text-align: center;*/
  background-color: #222;
}

.bs-docs-footer a {
  color: #ccc;
}
.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}
.bs-docs-footer-links li {
  display: inline-block;
   margin-top: 17px;
   vertical-align: middle;
}
.bs-docs-footer-links li + li {
  margin-left: 15px;
}






.carousel-caption {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 35px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
    text-shadow: none;
}


.carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #20a1f2;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90)
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5%;
    opacity: .7;
    /*filter: alpha(opacity=50);*/
    font-size: 20px;
    color: #00ADE3;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 9;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators .active {
    margin: 0;
    width: 13px;
    height: 13px;
    border: 0px;
    background-color: #00ade3ba;
}

.item{
    /*background: #333;    */
    text-align: left;
    height: 250px !important;
}



.carousel.vertical .carousel-inner {
  width: 500px;
  margin-left: 90px;
  display: inline-block;
}

pre.chroma.front {
    border: 0;
    background: none;
    font-size: 24px;
}

@media only screen and (max-width: 620px) {
    .carousel.vertical .carousel-inner {
      width: 400px;
      margin-left: 0px;
    }

    h1, .h1 {
        font-size: 42px;
    }

    pre.chroma.front {
        font-size: 16px;
    }
    img#molecule-big-logo {
        width: 450px;
    }
    a.btn.btn-lg {
        font-size: 16px;
        padding: 8px;
    }
}

@media only screen and (max-width: 400px) {
    img#molecule-big-logo {
        width: 300px;
    }
}

.carousel.vertical .item {
   -webkit-transition:  top;
   -moz-transition:  top;
   -ms-transition:  top;
   -o-transition:  top;
   transition:  top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}









.bs-example{
	margin: 20px;
}


/* Numbered steps directive */
.sequence-block {
    display: table;
    width: 100%;
    table-layout: fixed;
    /*margin: 5px 0;*/

    /*margin-top: -20px;*/
}

.sequence-block > .bullet-block {
    display: table-cell;
    padding-right: 10px;
    width: 3.0em;
}

.sequence-block .sequence-step {
    text-align: center;
    background-color: #555;
    color: white;
    width: 24px;
    font-weight: bold;
    height: 24px;
    border-radius: 12px;

    font-size: 16px;
    line-height: 22px;
}

.sequence-block > .section {
    display: table-cell;
}

.sequence-block > .section > h4 {
    /*margin: 0;*/
}

.unbreakable {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}