

h2 {
  padding-top: calc(1.5rem + var(--navbar-height)) !important;
}

// code tabs

.vp-code-tabs-nav {
  html[data-theme="light"] & {
    background: white;
    margin: 0.875rem 0 -1rem;
    height: 1.95rem;
    overflow: hidden;
  }


  html[data-theme="dark"] & {;
    //background-color: blue;
    background: #15191b;
    //margin: 0.875rem 0 -1.0rem;
    //height: 1.95rem;
  }

  //background: red;
  //margin-bottom: 5px;
}

button.vp-code-tab-nav[aria-selected="false"] {
  html[data-theme="light"] & {
    //background-color: #2b3437;
    //color: red;
    color: #555;
  }
}

button.vp-code-tab-nav {
  html[data-theme="light"] & {
    color: #ccc;
  }

  html[data-theme="light"] &:hover {
    color: #ccc;
  }

  //html[data-theme="dark"] & {;
  //  //background-color: blue;
  //  //color: #777;
  //}
}

div[class*="language-"] {
  //border-top-left-radius: 0;
  //border-top-right-radius: 0;

  //html[data-theme="light"] & {
  //  //background-color: #2c363c;
  //  //background-color: blue;
  //  border-top-left-radius: 0;
  //  border-top-right-radius: 0;
  //}
  //
  //html[data-theme="dark"] & {
  //  //background-color: #3a3a3a;
  //  //background-color: #2c3439;
  //  //background-color: #283135;
  //  //background-color: #2c363c;
  //  //background-color: #1f2a33;
  //  //background-color: #1d2126;
  //  //background-color: #21262b;
  //
  //  //background-color: #232b2f;
  //  //background-color: #293237;
  //
  //  //background-color: blue;
  //}
}


code {
  html[data-theme="light"] & {
    background-color: #e4e4e4;
  }

  html[data-theme="dark"] & {
    background-color: #2f3639 !important;
  }
}


//
//blockquote {
//  html[data-theme="light"] & {
//    color: red;
//  }
//  html[data-theme="dark"] & {
//    color: #888;
//  }
//}


// Line under headers + toc vertical line
$border-color: (
        light: #cbcbcb,
        dark: #444,
);

body {
  html[data-theme="dark"] & {
    // A little more brighter and focused text
    color: #c3c3c3;
  }
}

.vp-page p {
  html[data-theme="light"] & {
    text-align: left;
    word-break: keep-all;
  }

  html[data-theme="dark"] & {
    text-align: left;
    word-break: keep-all;
  }
}


.vp-sidebar {
  padding-inline-start: 10px !important;
  transition: none !important;
  box-shadow: none !important;
}


.vp-page {
  transition: none !important;
  //padding-left: 10rem !important;
  //padding-inline-start: 0px !important;
  //padding-left: 250px !important;
}


.vp-navbar {
  html[data-theme="light"] & {
    background-color: #ffffff;
    //background-color: #dddddd;
    //background-color: #93d5ff;
    //background-color: #eaeef2;
    //background-color: #b1cae3;
    //background-color: #cfe7ff;
  }

  html[data-theme="dark"] & {
    //background-color: black;
    //background-color: #222222;
    //background-color: #262d30;
    //background-color: #1d2126;
    background-color: #262a2f;
  }
}

.vp-sidebar {
  html[data-theme="light"] & {
    //background-color: #fcfcfc;
    //background-color: #fafafa;
    background-color: #ffffff; // same
  }

  html[data-theme="dark"] & {
    //background-color: black;
    //background-color: #222222;
    //background-color: #262d30;
    //background-color: #1d2126;
    background-color: #15191b; // same
    //background-color: #141d21;
  }
}


// hide toc in center body when narrow window
//@media only screen and (max-width: 1220px) {
@media only screen and (max-width: 1440px) {
  .vp-toc-header {
    display: none;
  }
}

.vp-toc-item a {
  html[data-theme="light"] & {
    color: #666666;
  }

  html[data-theme="dark"] & {
    color: #999999;

  }
}


// Let content stay closer to left menu

.vp-page-title {
  margin: 0 !important;
}

.theme-hope-content {
  margin: 0 !important;
}

.vp-page-nav {
  margin: 0 !important;
  border: none !important;
}

.vp-nav-links {
  //font-size: 1rem !important;
  //display: none !important;
}


$sidebar-width: 15rem;
$sidebar-mobile-width: 15rem;

//$content-width: 780px !default;
//$home-page-width: 1160px !default;

//$content-width: 640px;
//$content-width: 700px;
//$pc: 1100px;
//$home-page-width: 1100px;

//.theme-container .vp-page {
//  //padding-inline-start: calc(var(--sidebar-space) - 2rem) !important;
//  //padding-inline-end: calc(100vw - var(--content-width) - var(--sidebar-space) - 4rem) !important;
//
//  //padding-inline-start: calc(var(--sidebar-space) - 2rem);
//  //padding-inline-end: calc(100vw - var(--content-width) - var(--sidebar-space) - 10rem);
//
//  //padding-inline-start: 2rem;
//  //padding-inline-end: 3rem;
//  //padding-inline-start: 14rem !important;
//  //padding-inline-end: 4rem !important;
//}


div.mermaid-actions {
  display: none;
}

.mermaid-content .edgeLabel:empty {
  display: none;
}

.edgeLabel {
  padding: 8px 8px; // creates space left and right
}


p.hint-container-title {
  display: none;
}

blockquote {
  html[data-theme="light"] & {
    border-color: #bbb !important;
    color: #666 !important;
  }

  html[data-theme="dark"] & {
    border-color: #666 !important;
    color: #888 !important;
  }
}


