
body {
  html[data-theme="dark"] & {
    // A little more brighter and focused text
    color: #c3c3c3;
  }
}


// :root { hyphens: none; }
// h1, h2, h3, .navbar, .sidebar { hyphens: none; }
// .page p { hyphens: none; }      /* allow only in body text */
// .code, .theme-default-content a { overflow-wrap: anywhere; hyphens: none; }

html, body, .theme-container, .theme-default-content, .page, .content, .markdown-body, .theme-default-content p {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  word-break: normal;
  overflow-wrap: normal;
}

.theme-default-content p,
.theme-default-content li {
  overflow-wrap: anywhere;
  word-break: normal;
}

// h2 {
//   padding-top: calc(1.5rem + var(--navbar-height)) !important;
// }

// code tabs

.vp-code-tabs-nav {
  html[data-theme="light"] & {
    background: white;
//     margin: 0.875rem 0 -1rem;
//     height: 1.95rem;
//     overflow: hidden;
  }


  html[data-theme="dark"] & {
//     background: red;
    background: #1a1b1c;
//     background: #15191b;
//     margin: 0.875rem 0 -1.0rem;
//     height: 1.95rem;
//     overflow: hidden;
  }
}

// button.vp-code-tab-nav[aria-selected="false"] {
//   html[data-theme="light"] & {
//     color: #555;
//   }
// }
//
// button.vp-code-tab-nav {
//   html[data-theme="light"] & {
//     color: #ccc;
//   }
//
//   html[data-theme="light"] &:hover {
//     color: #ccc;
//   }
// }

// code {
//   html[data-theme="light"] & {
//     background-color: #e4e4e4;
//   }
//
//   html[data-theme="dark"] & {
//     background-color: #2f3639 !important;
//   }
// }
//
//
// // Line under headers + toc vertical line
// $border-color: (
//     light: #cbcbcb,
//     dark: #444,
// );
//
//
// .vp-page p {
//   html[data-theme="light"] & {
//     text-align: left;
//     word-break: keep-all;
//   }
//
//   html[data-theme="dark"] & {
//     text-align: left;
//     word-break: keep-all;
//   }
// }
//
//
// .vp-sidebar {
//   padding-inline-start: 10px !important;
//   transition: none !important;
//   box-shadow: none !important;
// }
//
// .vp-page {
//   transition: none !important;
// }
//
//
// .vp-navbar {
//   html[data-theme="light"] & {
//     background-color: #ffffff;
//   }
//
//   html[data-theme="dark"] & {
//     background-color: #262a2f;
//   }
// }
//
// .vp-sidebar {
//   html[data-theme="light"] & {
//     background-color: #ffffff; // same
//   }
//
//   html[data-theme="dark"] & {
//     background-color: #15191b; // same
//   }
// }


// hide toc "On This Page" in center body when narrow window
@media only screen and (max-width: 1440px) {
  .vp-toc-header {
    display: none;
  }
}
//
// .vp-toc-item a {
//   html[data-theme="light"] & {
//     color: #666666;
//   }
//
//   html[data-theme="dark"] & {
//     color: #999999;
//
//   }
// }


// Let content stay closer to left menu

// .vp-page-title {
//   margin: 0 !important;
// }
//
// .theme-hope-content {
//   margin: 0 !important;
// }
//
// .vp-page-nav {
//   margin: 0 !important;
//   border: none !important;
// }
//
// $sidebar-width: 15rem;
// $sidebar-mobile-width: 15rem;



div.mermaid-actions {
  display: none;
}

.mermaid-content .edgeLabel:empty {
  display: none;
}

// .edgeLabel {
//   padding: 8px 8px; // creates space left and right
// }


p.hint-container-title {
  display: none;
}

blockquote {
  html[data-theme="light"] & {
    border-color: #bbb !important;
    color: #666 !important;
  }

  html[data-theme="dark"] & {
    border-color: #666 !important;
    color: #888 !important;
  }
}


