    <!-- </div> --> <!-- tab-content -->
  </div> <!-- col-md-12-column -->
</div> <!-- container -->


<!-- JS -->
<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<!-- <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> -->
<!-- <script src="/js/jquery.scrollTo.min.js"></script> -->

<script type="text/javascript" src="/js/bootstrap.min.js"></script>



<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/javascript" src="/js/scripts.js"></script>

<!-- <script async defer id="github-bjs" src="/js/buttons.js"></script> -->
<!-- <script src="/js/buttons.js"></script> -->

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

{{ partial "analytics.html" . }}
    
</body>
</html>