<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type='text/css' href="https://www.scalamolecule.org/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="https://www.scalamolecule.org/css/highlight/styles/solarized_light.css"/>
    <link rel="stylesheet" type='text/css' href="https://www.scalamolecule.org/css/syntax-custom.css"/>
    <link rel="stylesheet" type='text/css' href="https://www.scalamolecule.org/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="https://www.scalamolecule.org/css/style.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,600,700,700italic,800,800italic'>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.scalamolecule.org/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.scalamolecule.org/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.scalamolecule.org/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="https://www.scalamolecule.org/img/apple-touch-icon-57-precomposed.png">

    {{ $title := .Site.Title }}
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}"/>
    {{ end }}
</head>
<body data-spy="scroll" data-target="#sidebar" data-offset="110">
<header class="bs-docs-header">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid" style="max-width:1170px;padding-top:3px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" style="padding-left: 6px; padding-right: 13px;"><img src="https://www.scalamolecule.org/img/logo/MoleculeLogo150.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{ $section := .Section }}
                    {{ range .Site.Menus.main }}
                        {{ if eq .Identifier $section }}
                            <li class="active">
                                <a href="{{ .URL }}" target="_top">{{ .Name }}</a>
                                <div></div>
                            </li>
                        {{ else }}
                            <li class="dropdown">
                                <a href="{{ .URL }}" target="_top">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://javadoc.io/doc/org.scalamolecule/molecule_2.13/latest/index.html" target="_blank" style="">Docs</a></li>
                    <li><a href="/changelog" style="">v0.25.1</a></li>
                    <li><a href="https://github.com/scalamolecule/molecule" target="_blank">
                        <img src="https://www.scalamolecule.org/vendor/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png"
                             style="margin-top:-4px;padding-left:15px;opacity:0.6;width:42px;">
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>

<div class="wrapper">