<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <title>{{ .Title }}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/highlight/styles/solarized_light.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="/img/favicon.png">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body>
<div class="wrapper">
<div class="container" style="padding-top:20px">
  <div class="col-md-12 column" style="padding-left:0px; margin-bottom:15px">
    {{ partial "menu.html" . }}
  </div> <!-- col-sm-12-column / Menu -->