<div class="col-md-12 column" style="padding-left:0px;height:50px;">

    <ul class="nav nav-pills">
      <li><a href="/" style="padding-left: 6px; padding-right: 13px; vertical-align: top; margin-top: 0px;"><img src="/img/logo/MoleculeLogo600.png" alt="" width="200"></a></li>
      {{ $section := .Section }}{{ range .Site.Menus.main }}{{ $main := .Name }}
      <li class="dropdown {{ if eq .Identifier $section }}active{{ end }}">
        <a data-toggle="dropdown" href="{{ .URL }}" target="_top" onclick="javascript:top.location = '{{ .URL }}';return true;">{{ .Name }}</a>
          <ul class="dropdown-menu level1" role="menu" aria-labelledby="dropdownMenu">{{ range .Children }}{{ if eq $main .Name }}{{ else }}{{ if .HasChildren }}
            <li class="dropdown-submenu">
              <a href="{{ .URL }}">{{ .Name }}</a>
              <ul class="dropdown-menu">{{ range .Children }}
                <li><a href="{{.URL}}">{{ .Name }}</a></li>{{ end }}
              </ul>
            </li>{{ else }}
            <li><a href="{{.URL}}">{{ .Name }}</a></li>{{ end }}{{ end }}{{ end }}
        </ul>
      </li>{{ end }}
      <li>
        <div  style="padding-left:14px;padding-top:19px;height:24px;float:right;">
            <a href="https://github.com/scalamolecule/molecule" class="github-button" data-icon="octicon-star">Github</a>
            <!-- Add this when there are more stargazers...
              data-count-href="/scalamolecule/stargazers"
              data-count-api="/repos/scalamolecule/molecule#stargazers_count" -->
          </div>
      </li>
    </ul>

</div>