<div class="col-md-12 column" style="padding-left:0px;height:30px;">

  <div class="col-sm-11 column" style="padding-left:0;">
    <ul class="nav nav-pills">
    {{ $section := .Section }}
    {{ range .Site.Menus.main }}
      {{ $main := .Name }}
      <li class="dropdown {{ if eq .Identifier $section }}active{{ end }}">
        <a data-toggle="dropdown" 
          href="{{ if eq .Name "Molecule" }}/{{ else }}{{ .Url }}{{ end }}" target="_top" 
          onclick="javascript:top.location = '{{ if eq .Name "Molecule" }}/{{ else }}{{ .Url }}{{ end }}';return true;">{{ .Name }}</a>
        <ul class="dropdown-menu level1" role="menu" aria-labelledby="dropdownMenu">
          {{ range .Children }}
            {{ if eq $main .Name }}
              <!-- Skip index page -->
            {{ else }}
              {{ if .HasChildren }}
                <li class="dropdown-submenu">
                  <a href="{{ .Url }}">{{ .Name }}</a>
                  <ul class="dropdown-menu">
                  {{ range .Children }}
                    <li><a href="{{.Url}}">{{ .Name }}</a></li>
                  {{ end }}
                  </ul>
                </li>
              {{ else }}
                <li><a href="{{.Url}}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </li>
    {{ end }}
    </ul>
  </div>

  <div class="col-xs-1 column" style="padding:4px;height:25px;float:right;">
    <a href="https://github.com/scalamolecule/molecule" 
    class="github-button" 
    data-icon="octicon-star"
    >Github</a>
    <!-- Add this when there are more stargazers...
    data-count-href="/scalamolecule/stargazers" 
    data-count-api="/repos/scalamolecule/molecule#stargazers_count" -->
  </div>

</div>