<nav class="bs-docs-sidebar" id="myScrollspy">
  <ul class="bs-docs-sidenav nav">{{ $currentNode := . }}
    {{ range where .Site.Menus.main "Identifier" .Section }}
      {{ if .HasChildren }}

        <!-- Render all sub-pages -->
        {{ range .Children }}
          {{if $currentNode.IsMenuCurrent "main" . }}
            <li class="open"><a href="{{ .URL }}"><b>{{ .Name }}</b></a></li>
            {{ if .Page }}
              {{ .Page.TableOfContents }}
            {{ end }}
          {{else}}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{end}}
          {{if .HasChildren}}
            <ul class="level2">
              {{ range .Children }}
                {{if $currentNode.IsMenuCurrent "main" . }}
                  <li class="active"><b>{{ .Name }}</b></li>
                  {{ if .Page }}
                    {{ .Page.TableOfContents }}
                  {{ end }}
                {{else}}
                  <li><a class="sub" href="{{ .URL }}">{{ .Name }}</a></li>
                {{end}}
              {{end}}
            </ul>
          {{end}}
        {{end}}

      {{end}}
    {{end}}
  </ul>
</nav>