<div class="tab-content">
  <div class="tab-pane active" id="panel-100002">
    <div class="col-md-2 column">
          {{ $currentNode := . }}
      {{ range .Site.Menus.main }}

        {{ .Name }}

        {{ if .HasChildren }}       
          {{ range .Children }}
            <br> - {{ .Name }} - {{ .Parent }} - 
          {{ end }}
          <br>
        {{end}}
          <br>
      {{end}}
<br>
      <ul>
        <li>
          Project dependency - 
        </li>
        <li>
          Schema-compiler
        </li>
        <li>
          Define schema
        </li>
        <li>
          Generate DSL
        </li>
        <li>
          Use molecule
        </li>
      </ul>
    </div>
    <div class="col-md-10 column">
      <div class="page-header">
        <h1>
          Getting startedxxx<small> - setup using Molecule</small>
        </h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
      </p>
    </div>
  </div>
</div>
