- `getAsOf(t)`
- `getArrayAsOf(t)`
- `getIterableAsOf(t)`
- `getJsonAsOf(t)`
- `getRawAsOf(t)`

- `getAsOf(t, limit)`
- `getArrayAsOf(t, limit)`
- `getIterableAsOf(t, limit)`
- `getJsonAsOf(t, limit)`
- `getRawAsOf(t, limit)`


<table>
    <tr>
        <td>
            <ul>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
                <li>
                    <pre>getAsOf(t)</pre>
                </li>
            </ul>
        </td>
    </tr>
</table>


<div class="container">

    <div class="col-sm-3 column ">
        <ul>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
        </ul>
    </div>
    <div class="col-sm-3 column ">
        <ul>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
        </ul>
    </div>
    <div class="col-sm-3 column ">
        <ul>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
        </ul>
    </div>
    <div class="col-sm-3 column ">
        <ul>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
            <li><code>getAsOf(t)</code></li>
        </ul>
    </div>
</div>