{{ partial "header.html" . }}

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/1-hero" . -}}</section>

<section>{{- partial "front/2-about" . -}}</section>

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/3-one-api-dbs" . -}}</section>

<section>{{- partial "front/4-molecule-datomic" . -}}</section>

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/5-examples" . -}}</section>

<section>{{- partial "front/6-links" . -}}</section>

{{ partial "footer.html" . }}
