{{ partial "header.html" . }}

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/1-hero" . -}}</section>

<section>{{- partial "front/2-fetch" . -}}</section>

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/3-rpc" . -}}</section>

<section>{{- partial "front/4-model-transact-query" . -}}</section>

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/5-one-api-dbs" . -}}</section>

<section>{{- partial "front/6-molecule-datomic" . -}}</section>

<section style="background-image:url(/bg/furley_bg.png)">{{- partial "front/7-examples" . -}}</section>

<section>{{- partial "front/8-links" . -}}</section>

{{ partial "footer.html" . }}
