<div style="background-color:rgba(51, 185, 255, 0.28); align:center;padding-top:50px;padding-bottom:65px;">
    <div class="container" style="padding-top:20px">
        <div class="col-sm-12 column " style="padding-left:8px;padding-right:0px;text-align: center">
            <img src="/img/logo/MoleculeLogo600.png">
            <br>
            <br>
            <h1>Query your Scala domain model</h1>
            <pre class="clean"><code class="language-scala" style="color:#555">Person.name.age.Address.street.get</code></pre>
            <h2>get typed data from <a href="http://datomic.com">Datomic</a><span style="font-size:18px;vertical-align: super">®</span></h2>
<!--            <h2>get typed matching data</h2>-->
            <pre class="clean"><code class="language-scala" style="color:#555">List(("Lisa", 20, "Broadway"), ("John", 22, "Fifth Avenue"))</code></pre>


            <div class="btn-group" style="padding-top:60px;">
                <a href="/setup" class="btn btn-lg" role="button"
                   style="background:none;border-color:#888;">Get Started</a>
                <a href="/code" class="btn btn-lg" role="button"
                   style="background:none;border-color:#888;">Learn More</a>
            </div>


        </div>



    </div>
</div>