<div style="background-color:rgba(51, 185, 255, 0.28); align:center;padding-top:50px;padding-bottom:65px">

    <div class="container" style="padding-top:20px">

        <div class="col-sm-12 column " style="padding-left:8px;padding-right:0px;text-align: center">

            <img src="/img/logo/MoleculeLogo600.png">
            <h2>A Scala meta-DSL to use the <a href="https://www.datomic.com/on-prem.html">Datomic</a><span style="font-size:18px;vertical-align: super">®</span> database</h2>
        </div>
    </div>

</div>