<div style="align:center;padding-top:70px;padding-bottom:100px">

    <div class="container" style="padding-top:0px;align:center;">
        <div class="col-sm-2 column "></div>
        <div class="col-sm-8 column" style="text-align: center">
<!--            <h2>A query language of your domain terms</h2>-->
<!--            <h2>A Scala eco-system for your <br><nobr>domain Data Model</nobr> and queries</h2>-->
<!--            <h2>A unified <nobr>Data Model</nobr> and query language</h2>-->
<!--            <h2>A Scala meta-DSL to model and query your domain data</h2>-->
<!--            <h2>Your Data Model is <nobr>Your query language</nobr></h2>-->
            <h2>Your Data Model =><br>Your Query Language</h2>
            <div style="font-size:22px;font-weight:300;">
                <p>
<!--                    Molecule offers a query language that uses your domain terms as database query tokens in the most-->
<!--                    compact and intuitive way possible.-->

                    Molecule is a Scala eco-system to define your domain <nobr>Data Model</nobr> and then directly use its attributes
                    as your query language.


                </p>
                    them
                    as tokens directly in queries and transactions against a database.


<!--                    Distinctively model the atomic data attributes of your domain.-->
                <p>
                    Molecule lets you model the atomic data attributes of your domain.

                    Molecule macros then generate Scala boilerplate code so that you can express both your
                    domain Data Model and perform queries and transactions against the Datomic database.

                </p>
                <p>
                    Let the compiler keep your domain model and queries in sync!
                </p>

                <br>
                <br>
                <br>
                <br>
                    Your domain model and database will be enforced to stay in sync by the compiler
                <p>
                    Molecule macros compile your domain Data Model to flexible Scala query code
                    that you can combine endlessly and easily to transact and fetch exactly the
                    data that your domain requires.
                    Molecule macros compile your domain Data Model to flexible Scala query code
                    that you can combine endlessly and easily to transact and fetch exactly the
                    data that your domain requires.
                    Your domain model and access to the database will

                    Molecule macros compile your domain Data Model to flexible Scala query code
                    that you can combine endlessly and easily to transact and fetch exactly the
                    data that your domain requires.
                </p>
                <p>
                    Some examples:
                </p>
            </div>


        </div>
        <div class="col-sm-2 column "></div>

    </div>


    <div class="container" style="align:center;padding-top:20px">
        <div class="col-sm-1 column "></div>
        <div class="col-sm-10 column" style="text-align: center">

            <div id="myCarousel" class="carousel slide" data-interval="9000" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators" style="z-index:1">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="carousel-caption">
                            <h3>Type-inferred Queries</h3>
                            <p>Build query molecules with your domain attributes</p>
                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="k">val</span> <span class="n">persons</span><span class="k">:</span> <span class="kt">List</span><span class="o">[(</span><span class="kt">String</span>, <span class="kt">Int</span><span class="o">)]</span> <span class="k">=</span> <span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="n">get</span>
</code></pre></div>
                            <p><em>&ldquo;Name and age of Persons&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3>Relationships</h3>
                            <p>Pick attributes across namespaces</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">.</span><span class="nc">Country</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">get</span>
</code></pre></div>

                            <p><em>&ldquo;Name, age, street and country of residence&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="conditional-values:ffcff61ab3a11ef1d50900901a24ec54">Conditional values</h3>

                            <p>Apply required values for certain attributes</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">(</span><span class="s">&#34;Johnson&#34;</span><span class="o">).</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="nc">City</span><span class="o">.</span><span class="n">name</span><span class="o">(</span><span class="s">&#34;New York&#34;</span><span class="o">).</span><span class="n">get</span>
</code></pre></div>

                            <p><em>&ldquo;Age of Johnsons in New York&rdquo; - name, age and city returned</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="control-output:ffcff61ab3a11ef1d50900901a24ec54">Control output</h3>

                            <p>Add an underscore to omit an attribute from the result set:</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name_</span><span class="o">(</span><span class="s">&#34;Johnson&#34;</span><span class="o">).</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="nc">City</span><span class="o">.</span><span class="n">name_</span><span class="o">(</span><span class="s">&#34;New York&#34;</span><span class="o">).</span><span class="n">get</span>
</code></pre></div>

                            <p><em>&ldquo;Age of Johnsons in New York&rdquo; - only ages returned</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="logic-and-ranges:ffcff61ab3a11ef1d50900901a24ec54">Logic and ranges</h3>

                            <p>Apply logical options and ranges</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">(</span><span class="s">&#34;Dean&#34;</span> <span class="n">or</span> <span class="s">&#34;Johnson&#34;</span><span class="o">).</span><span class="n">age</span><span class="o">.&lt;(</span><span class="mi">25</span><span class="o">).</span><span class="nc">Address</span><span class="o">.</span><span class="nc">Country</span><span class="o">.</span><span class="n">iso2</span><span class="o">(</span><span class="s">&#34;US&#34;</span><span class="o">).</span><span class="n">get</span>
</code></pre></div>

                            <p><em>&ldquo;Young Dean and Johnsons in the US&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="insert-multi-level-data:ffcff61ab3a11ef1d50900901a24ec54">Insert multi-level
                                data</h3>

                            <p>Save data for multiple namespace levels in one go:</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">(</span><span class="s">&#34;Johnson&#34;</span><span class="o">).</span><span class="n">age</span><span class="o">(</span><span class="mi">35</span><span class="o">).</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">(</span><span class="s">&#34;5th&#34;</span><span class="o">).</span><span class="nc">City</span><span class="o">.</span><span class="n">name</span><span class="o">(</span><span class="s">&#34;New York&#34;</span><span class="o">).</span><span class="n">save</span>
</code></pre></div>

                            <p><em>&ldquo;Add a 35-year-old Johnson living on 5th street in New York&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="upsert-data:ffcff61ab3a11ef1d50900901a24ec54">Update data</h3>

                            <p>Update molecules with new data</p>

                            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">(</span><span class="n">johnsonId</span><span class="o">).</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">(</span><span class="s">&#34;Broadway&#34;</span><span class="o">).</span><span class="n">update</span>
</code></pre></div>

                            <p><em>&ldquo;Johnson now lives on Broadway&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="more-up-the-sleeve:ffcff61ab3a11ef1d50900901a24ec54">More..</h3>
                            <ul>
                                <li><a href="/manual/quick-start/introduction/">Introduction</a></li>
                                <li><a href="/manual/setup">Setup</a></li>
                                <li><a href="/resources/tutorials/seattle">Seattle Tutorial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>


        <div class="col-sm-1 column "></div>

    </div>


</div>