<div style="align:center;padding-top:70px;padding-bottom:100px">

    <div class="container" style="padding-top:0px;align:center;">
        <div class="col-sm-2 column "></div>
        <div class="col-sm-8 column" style="text-align: center">
<!--            <h2>Model your domain data structures and queries in Scala</h2>-->
            <h2>A Scala eco-system for your <br><nobr>domain Data Model</nobr> and queries</h2>
            <div style="font-size:22px;font-weight:300;">
                <p>
                    Molecule offers a query language that uses your domain terms as database query tokens in the most
                    compact and intuitive way possible.

                </p>
                <p>
                    Molecule macros compile your domain Data Model to flexible Scala query code
                    that you can combine endlessly and easily to transact and fetch exactly the
                    data that your domain requires.
                </p>
                <p>
                    Some examples:
                </p>
            </div>


        </div>
        <div class="col-sm-2 column "></div>

    </div>




</div>