<div style="align:center;padding-top:30px;padding-bottom:60px">

    <div class="container" style="padding-top:0px;align:center;">
        <div class="col-sm-2 column "></div>
        <div class="col-sm-8 column" style="text-align: center">
            <h2>Fetch data as tuples, objects or json</h2>
            <div style="font-size:22px;font-weight:300;">
                <p>
                    Build intuitive queries with your domain terms
                </p>

            </div>





            <div class="highlight"><!-- whitespace avoids copy button -->
                <pre class="chroma" style="text-align:left;display:inline-block"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">.</span><span class="n">get</span><span class="o">.</span><span class="n">map</span> <span class="o">{</span> <span class="n">tuples</span> <span class="k">=&gt;</span>
  <span class="n">tuples</span><span class="o">.</span><span class="n">head</span> <span class="o">==&gt;</span> <span class="o">(</span><span class="s">"Lisa"</span><span class="o">,</span> <span class="mi">20</span><span class="o">,</span> <span class="s">"Broadway"</span><span class="o">)</span>
<span class="o">}</span>

<span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">.</span><span class="n">getObjs</span><span class="o">.</span><span class="n">map</span> <span class="o">{</span> <span class="n">objects</span> <span class="k">=&gt;</span>
  <span class="k">val</span> <span class="n">obj</span> <span class="k">=</span> <span class="n">objects</span><span class="o">.</span><span class="n">head</span>
  <span class="n">obj</span><span class="o">.</span><span class="n">name</span> <span class="o">==&gt;</span> <span class="s">"Lisa"</span>
  <span class="n">obj</span><span class="o">.</span><span class="n">age</span> <span class="o">==&gt;</span> <span class="mi">20</span>
  <span class="n">obj</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span> <span class="o">==&gt;</span> <span class="s">"Broadway"</span>
<span class="o">}</span>

<span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">.</span><span class="n">getJson</span><span class="o">.</span><span class="n">map</span> <span class="o">{</span> <span class="n">json</span> <span class="k">=&gt;</span>
  <span class="n">json</span> <span class="o">==&gt;</span>
    <span class="s">"""{
</span><span class="s">      |  "data": {
</span><span class="s">      |    "Person": [
</span><span class="s">      |      {
</span><span class="s">      |        "name": "Lisa",
</span><span class="s">      |        "age": 20,
</span><span class="s">      |        "Address": {
</span><span class="s">      |          "street": "Broadway"
</span><span class="s">      |        }
</span><span class="s">      |      }
</span><span class="s">      |    ]
</span><span class="s">      |  }
</span><span class="s">      |}"""</span><span class="o">.</span><span class="n">stripMargin</span>
<span class="o">}</span>
</code></pre></div>




        </div>
        <div class="col-sm-2 column "></div>
    </div>






</div>