<!--<div style="align:center;padding-top:70px;padding-bottom:120px;background-color:rgba(143, 143, 143, 0.08)">-->
<div style="align:center;padding-top:70px;padding-bottom:120px;">

    <div class="container" style="padding-top:0px;align:center;">
        <div class="col-sm-2 column "></div>
        <div class="col-sm-8 column" style="text-align: center">

            <h2>Same molecules for multiple dbs</h2>
            <div style="font-size:22px;font-weight:300;">
                <p>
                    Transact and query your molecules uniformly against any of the three
                    <nobr><a href="http://datomic.com">Datomic</a> database systems</nobr>:
                    Peer, Peer-Server and Cloud.
                </p>
            </div>
        </div>
        <div class="col-sm-2 column "></div>
    </div>


    <div class="container" style="align:center;padding-top:30px">
        <div class="col-sm-1 column "></div>
        <div class="col-sm-10 column" style="text-align: center;">
            <div class="well" style="background-color:rgba(51, 185, 255, 0.28);margin:0">
                <div class="logo" style="font-size: 100px;margin-top:-40px;">m</div>
                <h2 style="margin-top:-28px;margin-bottom:0">
                    <nobr>Your molecules</nobr>
                </h2>
            </div>

            <div class="row">
                <div class="col-sm4 col-md-4">
                    <h1 style="color:#555;margin-top:22px">⇅</h1>
                </div>
                <div class="col-sm4 col-md-4">
                    <h1 style="color:#555;margin-top:22px">⇅</h1>
                </div>
                <div class="col-sm4 col-md-4">
                    <h1 style="color:#555;margin-top:22px">⇅</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-sm4 col-md-4">
                    <div class="thumbnail">
                        <img src="/img/logo/datomic-logo-160x130.png" width="120px">
                        <div class="caption">
                            <h3 style="margin-top:0px">Datomic<br>Peer</h3>
                            <p>On-prem</p>
                            <p>Peer in application process</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm4 col-md-4">
                    <div class="thumbnail">
                        <img src="/img/logo/datomic-logo-160x130.png" width="120px">

                        <div class="caption">
                            <h3 style="margin-top:0px">Datomic<br>Peer-Server</h3>
                            <p>Remote Peer via http</p>
                            <p>Like traditional db server</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm4 col-md-4">
                    <div class="thumbnail">
                        <img src="/img/logo/datomic-logo-160x130.png" width="120px">

                        <div class="caption">
                            <h3 style="margin-top:0px">Datomic<br>Cloud</h3>
                            <p>Distributed AWS Cloud system</p>
                            <p>Testable with dev-Local</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 column "></div>
    </div>
</div>