<!--<div style="align:center;padding-top:70px;padding-bottom:120px;background-color:rgba(143, 143, 143, 0.08)">-->
<div style="align:center;padding-top:30px;padding-bottom:60px;">

    <div class="container" style="padding-top:0px;align:center;">
        <div class="col-sm-2 column "></div>
        <div class="col-sm-8 column" style="text-align: center">

            <h2>Make transparent RPC calls with Scala.js</h2>
            <div style="font-size:22px;font-weight:300;">
                <p>
                    Transact and fetch data with molecules transparently from the js platform<br>without shared interfaces and sever implementations.
                    <a href="/setup/js-connection/">Read more..</a>
                </p>
            </div>
        </div>
        <div class="col-sm-2 column "></div>
    </div>


    <div class="container" style="align:center;padding-top:0px">
        <div class="col-sm-2 column "></div>


        <div class="col-sm-5 column" style="text-align: left;">
            <h3>Traditional rpc</h3>

            <div class="highlight"><!-- whitespace avoids copy button -->
                <pre class="chroma" style="text-align:left;display:inline-block"><code class="language-scala" data-lang="scala"><span class="c1">// js
</span><span class="c1"></span><span class="k">val</span> <span class="n">personApi</span> <span class="k">=</span> <span class="o">...</span> <span class="c1">// rpc setup
</span><span class="c1"></span><span class="n">personApi</span><span class="o">.</span><span class="n">personAge</span><span class="o">(</span><span class="s">"Lisa"</span><span class="o">).</span><span class="n">map</span><span class="o">(</span><span class="n">age</span> <span class="k">=&gt;</span>
  <span class="n">body</span><span class="o">.</span><span class="n">appendChild</span><span class="o">(</span>
    <span class="n">div</span><span class="o">(</span><span class="s">"Lisa's age: "</span> <span class="o">+</span> <span class="n">age</span><span class="o">).</span><span class="n">render</span>
  <span class="o">)</span>
<span class="o">)</span>
</code></pre></div>


            <div class="highlight"><!-- whitespace avoids copy button -->
                <pre class="chroma" style="text-align:left;display:inline-block"><code class="language-scala" data-lang="scala"><span class="c1">// shared
</span><span class="c1"></span><span class="k">trait</span> <span class="nc">PersonApi</span> <span class="o">{</span>
  <span class="k">def</span> <span class="n">personAge</span><span class="o">(</span><span class="n">name</span><span class="k">:</span> <span class="kt">String</span><span class="o">)</span><span class="k">:</span> <span class="kt">Future</span><span class="o">[</span><span class="kt">Int</span><span class="o">]</span>
<span class="o">}</span>
</code></pre></div>


            <div class="highlight"><!-- whitespace avoids copy button -->
                <pre class="chroma" style="text-align:left;display:inline-block"><code class="language-scala" data-lang="scala"><span class="c1">// jvm
</span><span class="c1"></span><span class="k">object</span> <span class="nc">PersonImpl</span> <span class="k">extends</span> <span class="nc">PersonApi</span> <span class="o">{</span>
  <span class="k">def</span> <span class="n">personAge</span><span class="o">(</span><span class="n">name</span><span class="k">:</span> <span class="kt">String</span><span class="o">)</span> <span class="k">=</span> <span class="o">{</span>
</span><span class="c1"></span>    <span class="nc">Person</span><span class="o">.</span><span class="n">name_</span><span class="o">(</span><span class="n">name</span><span class="o">).</span><span class="n">age</span><span class="o">.</span><span class="n">get</span><span class="o">.</span><span class="n">map</span><span class="o">(</span><span class="k">_</span><span class="o">.</span><span class="n">head</span><span class="o">)</span>
  <span class="o">}</span>
<span class="o">}</span>
</code></pre></div>

        </div>







        <div class="col-sm-4 column" style="text-align: left;">
            <h3>Transparent rpc</h3>

            <div class="highlight"><!-- whitespace avoids copy button -->
                <pre class="chroma" style="text-align:left;display:inline-block"><code class="language-scala" data-lang="scala"><span class="c1">// js
</span><span class="c1"></span><span class="nc">Person</span><span class="o">.</span><span class="n">name_</span><span class="o">(</span><span class="s">"Lisa"</span><span class="o">).</span><span class="n">age</span><span class="o">.</span><span class="n">getObj</span><span class="o">.</span><span class="n">map</span><span class="o">(</span><span class="n">lisa</span> <span class="k">=&gt;</span>
  <span class="n">body</span><span class="o">.</span><span class="n">appendChild</span><span class="o">(</span>
    <span class="n">div</span><span class="o">(</span><span class="s">"Lisa's age: "</span> <span class="o">+</span> <span class="n">lisa</span><span class="o">.</span><span class="n">age</span><span class="o">).</span><span class="n">render</span>
  <span class="o">)</span>
<span class="o">)</span>
</code></pre></div>

        </div>



        <div class="col-sm-1 column "></div>
    </div>
</div>