<div style="align:center;padding-top:30px">

    <div class="container" style="padding-top:0px">

        <div class="col-sm-12 column " style="">

            <h3>Write powerful Datomic queries in Scala with the words of your domain:</h3>


            <div id="myCarousel" class="carousel slide" data-interval="9000" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="carousel-caption">
                            <h3>Type-inferred Queries</h3>
                            <p>Build query molecules with your domain attributes</p>
                            <pre><code class="language-scala">val persons: List[(String, Int)] = Person.name.age.get
</code></pre>
                            <p><em>&ldquo;Name and age of Persons&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3>Relationships</h3>
                            <p>Pick attributes across namespaces</p>

                            <pre><code class="language-scala">Person.name.age.Address.street.Country.name.get
</code></pre>

                            <p><em>&ldquo;Name, age, street and country of residence&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="conditional-values:ffcff61ab3a11ef1d50900901a24ec54">Conditional values</h3>

                            <p>Apply required values for certain attributes</p>

                            <pre><code class="language-scala">Person.name(&quot;Johnson&quot;).age.Address.City.name(&quot;New York&quot;).get
</code></pre>

                            <p><em>&ldquo;Age of Johnsons in New York&rdquo; - name, age and city returned</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="control-output:ffcff61ab3a11ef1d50900901a24ec54">Control output</h3>

                            <p>Add an underscore to omit an attribute from the result set:</p>

                            <pre><code class="language-scala">Person.name_(&quot;Johnson&quot;).age.Address.City.name_(&quot;New York&quot;).get
</code></pre>

                            <p><em>&ldquo;Age of Johnsons in New York&rdquo; - only ages returned</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="logic-and-ranges:ffcff61ab3a11ef1d50900901a24ec54">Logic and ranges</h3>

                            <p>Apply logical options and ranges</p>

                            <pre><code class="language-scala">Person.name(&quot;Dean&quot; or &quot;Johnson&quot;).age.&lt;(25).Address.Country.iso2(&quot;US&quot;).get
</code></pre>

                            <p><em>&ldquo;Young Dean and Johnsons in the US&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="insert-multi-level-data:ffcff61ab3a11ef1d50900901a24ec54">Insert multi-level data</h3>

                            <p>Save data for multiple namespace levels in one go:</p>

                            <pre><code class="language-scala">Person.name(&quot;Johnson&quot;).age(35).Address.street(&quot;5th&quot;).City.name(&quot;New York&quot;).save
</code></pre>

                            <p><em>&ldquo;Add a 35-year-old Johnson living on 5th street in New York&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="upsert-data:ffcff61ab3a11ef1d50900901a24ec54">Update data</h3>

                            <p>Update molecules with new data</p>

                            <pre><code class="language-scala">Person(johnsonId).Address.street(&quot;Broadway&quot;).update
</code></pre>

                            <p><em>&ldquo;Johnson now lives on Broadway&rdquo;</em></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption">
                            <h3 id="more-up-the-sleeve:ffcff61ab3a11ef1d50900901a24ec54">More..</h3>
                            <ul>
                                <li><a href="/manual/quick-start/introduction/">Introduction</a></li>
                                <li><a href="/manual/setup">Setup</a></li>
                                <li><a href="/resources/tutorials/seattle">Seattle Tutorial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>


            <h3 id="try-demo">Try <a href="https://github.com/scalamolecule/molecule-demo">demo</a></h3>

            <ol>
                <li><code>git clone https://github.com/scalamolecule/molecule-demo.git</code></li>
                <li><code>cd molecule-demo</code></li>
                <li><code>sbt compile</code></li>
                <li>Open in your IDE</li>
                <li>Run app - and build new molecules&hellip;</li>
            </ol>

            <h3 id="read-more">Read more</h3>

            <ul>
                <li><a href="/docs/documentation/introduction/">Introduction</a> to Datomic/Molecule</li>
                <li><a href="/docs/getting-started/">Getting started</a> with Molecule</li>
                <li><a href="/docs/getting-started/setup/">Setup</a> your Molecule project</li>
            </ul>

        </div>
    </div>

</div>