<div style="align:center;padding-top:0px;padding-bottom:50px;background-color:rgba(143, 143, 143, 0.08)">

    <div class="container" style="padding-top:0px">

        <div class="col-sm-4 column " style="">

            <h2>Model</h2>
            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="k">trait</span> <span class="nc">Person</span> <span class="o">{</span>
  <span class="k">val</span> <span class="n">name</span>    <span class="k">=</span> <span class="n">oneString</span>
  <span class="k">val</span> <span class="n">age</span>     <span class="k">=</span> <span class="n">oneInt</span>
  <span class="k">val</span> <span class="n">address</span> <span class="k">=</span> <span class="n">one</span><span class="o">[</span><span class="kt">Address</span><span class="o">]</span>
<span class="o">}</span>
<span class="k">trait</span> <span class="nc">Address</span> <span class="o">{</span>
  <span class="k">val</span> <span class="n">street</span> <span class="k">=</span> <span class="n">oneString</span>
<span class="o">}</span>
</code></pre></div>


        </div>

        <div class="col-sm-4 column " style="">

            <h2>Transact</h2>
            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span> <span class="n">insert</span>
  <span class="nc">List</span><span class="o">(</span>
    <span class="o">(</span><span class="s">&#34;Lisa&#34;</span><span class="o">,</span> <span class="mi">20</span><span class="o">,</span> <span class="s">&#34;Broadway&#34;</span><span class="o">),</span>
    <span class="o">(</span><span class="s">&#34;John&#34;</span><span class="o">,</span> <span class="mi">22</span><span class="o">,</span> <span class="s">&#34;Fifth Avenue&#34;</span><span class="o">)</span>
  <span class="o">)</span>
</code></pre></div>



        </div>


        <div class="col-sm-4 column " style="">

            <h2>Query</h2>
            <div class="highlight"><pre class="chroma"><code class="language-scala" data-lang="scala"><span class="nc">Person</span><span class="o">.</span><span class="n">name</span><span class="o">.</span><span class="n">age</span><span class="o">.</span><span class="nc">Address</span><span class="o">.</span><span class="n">street</span><span class="o">.</span><span class="n">get</span> <span class="o">===</span>
  <span class="nc">List</span><span class="o">(</span>
    <span class="o">(</span><span class="s">&#34;Lisa&#34;</span><span class="o">,</span> <span class="mi">20</span><span class="o">,</span> <span class="s">&#34;Broadway&#34;</span><span class="o">),</span>
    <span class="o">(</span><span class="s">&#34;John&#34;</span><span class="o">,</span> <span class="mi">22</span><span class="o">,</span> <span class="s">&#34;Fifth Avenue&#34;</span><span class="o">)</span>
  <span class="o">)</span>
</code></pre></div>


        </div>


    </div>

</div>