<div style="align:center;padding-top:30px">

    <div class="container" style="padding-top:0px">

        <div class="col-sm-1 column"></div>
        <div class="col-sm-7 column">

            <h3 id="try-demo">Try <a href="https://github.com/scalamolecule/molecule-demo">demo</a></h3>

            <ol>
                <li><code>git clone https://github.com/scalamolecule/molecule-demo.git</code></li>
                <li>Open in your IDE</li>
                <li>Run app - and build new molecules&hellip;</li>
            </ol>
        </div>


        <div class="col-sm-4 column">
            <h3 id="read-more">Read more</h3>
            <ul>
                <li><a href="/intro/">Introduction</a> to Datomic/Molecule</li>
                <li><a href="/setup/">Setup</a> your Molecule project</li>
            </ul>

        </div>
    </div>

</div>