<div style="align:center;padding-top:50px;padding-bottom:70px;">

    <div class="container" style="padding-top:0px">

        <div class="col-sm-6 column " style="">

            <table>
                <tr>
                    <td >
                        <div class="logo" style="font-size: 140px;margin-top:-40px;margin-right:50px">m</div>
                    </td>
                    <td style="padding-bottom:20px">
                        <h1 style="margin-top:16px;">Molecule</h1>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul style="margin-top:-40px;margin-left:-20px">
                            <li>Non-blocking and asynchronous</li>
                            <li>Type-inferred transactions and queries</li>
                            <li>Your Domain terms used as tx/query tokens</li>
                            <li>Transparent RPC on Scala.js platform</li>
                            <li>RDBMS, Graph, Document, KV-store all-in-one</li>
                            <li>Transactions and queries built at compile time</li>
                            <li>Automatic Query optimization</li>
                            <li>Built-in auditing and time queries</li>
                            <li>Test against automatically garbage-collected db "branches"</li>
                            <li><a href="/intro/">Read more...</a></li>
                        </ul>
                    </td>
                </tr>
            </table>


        </div>

        <div class="col-sm-6 column">

            <table>
                <tr>
                    <td style="margin-top:110px">
                        <img src="/img/logo/datomic-logo-160x130.png">
                    </td>
                    <td style="padding-left:25px">
                        <h1 style="margin-top:16px">Datomic<span style="font-size:18px;vertical-align: super">®</span></h1>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <ul style="margin-top:-10px;margin-left:5px">
                            <li><a href="https://www.datomic.com/on-prem.html">Datomic official website</a></li>
                            <li>Fully transactional, cloud-ready, distributed database</li>
                            <li>Elastic scaling</li>
                            <li>Built-in caching - extremely low latency</li>
                            <li>Built-in auditing - query entire history of data</li>
                            <li>ACID-compliant transactions</li>
                            <li>Flexible and sound Data Model</li>
                            <li>Strong industry support</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>